@{
    ViewBag.Title = "创建调配";
}

<div class="container-fixed">
    <div id="pageTitle">
        <form id="form" onsubmit="return false";>
            <div class="toolbar row">
                <div class="col-6">
                    <a id="btn-create"
                       href="javascript:;"
                       data-action="/AssetLog/Create"
                       data-type="tab"
                       data-options='{"title": "创建调配", "width": 720, "height": 400, "before": null}'
                       class="btn btn-green btn-customer"><i class="fa fa-plus-square"></i>添加</a>
                    <a id="btn-edit"
                       href="javascript:;"
                       data-action="/AssetLog/Details"
                       data-type="blank"
                       data-grid="grid"
                       data-options='{"title": "详情", "width": 720, "height": 400, "before": null}'
                       class="btn btn-blue btn-customer"><i class="fa fa-pencil-square"></i>详情</a>
                    <a id="btn-refresh" href="javascript:;" class="btn btn-default" onclick="window.grid.reload();"><i class="fa fa-refresh"></i>刷新</a>
                </div>
                <div class="col-6 content-right">
                    <select name="Type">
                        <option value="">操作类型</option>
                        <option value="调配">调配</option>
                        <option value="报废">报废</option>
                        <option value="借出">借出</option>
                        <option value="归还">归还</option>
                    </select>
                    <input name="Key" type="search" value="" placeholder="关键字" />
                    <input type="button" class="btn btn-blue" onclick="window.grid.reload()" value="搜索">
                    <a href="javascript:;" class="btn btn-default search-toggle-button"><i class="fa fa-filter"></i>高级筛选</a>
                </div>
            </div>
            <div id="search-box" class="search-box">
                <div class="caret-h"></div>
                <div class="search-box-body form-box">
                    @Html.AntiForgeryToken()
                    <div class="row">
                        <div class="col-3 form-box-cell">
                            <div class="label">原部门/用户</div>
                            <div class="control"><input type="search" name="From" value="" /></div>
                        </div>
                        <div class="col-3 form-box-cell">
                            <div class="label">新部门/用户</div>
                            <div class="control"><input type="search" name="Target" value="" /></div>
                        </div>
                        <div class="col-6 form-box-cell">
                            <div class="label">操作日期</div>
                            <div class="control">
                                <div class="row">
                                    <div class="col-6">
                                        <input type="date" name="OperateAtStart" value="" />
                                    </div>
                                    <div class="col-6">
                                        <input type="date" name="OperateAtEnd" value="" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div id="grid" class="grid-box"></div>
</div>

@section scripts
{
    <script src="~/lib/myui/myGridNoFixed.v2.js"></script>
    <script>
        var grid = $('#grid').MyGrid({
            api: '/AssetLog/Get',
            columns: [
                { title: '编号', type: 'indexNum', width: 40 },
                {
                    title: '操作类型', do: function (item) {
                        switch (item.type) {
                            case '调配':
                                return '<span class="btn btn-mini btn-success">调配</span>';
                            case '借出':
                                return '<span class="btn btn-mini btn-orange">借出</span>';
                            case '归还':
                                return '<span class="btn btn-mini btn-green">归还</span>';
                            case '回收':
                                return '<span class="btn btn-mini btn-blue">回收</span>';
                            case '报废':
                                return '<span class="btn btn-mini btn-red">报废</span>';
                            default:
                                return "--";
                        }
                    }, width: 90
                 },
                { title: '资产', field: 'assetName', width: 240 },
                { title: '原部门', field: 'fromDeptName', width: 120 },
                { title: '原使用人', field: 'fromAccountName', width: 120 },
                { title: '目标部门', field: 'targetDeptName', width: 120 },
                { title: '目标员工', field: 'targetAccountName', width: 120 },
                { title: '操作日期', field: 'operateAt' },
            ],
            keyColumn: 'id',
            height: function() {
                var h = $(window).height() - $('#pageTitle').height() - 40;
                return h;
            },
            pageSize: 20,
            dataConvertFn: function(source) { return source; },
            renderCompleteFn: null,
            filterFn: function() { return $('#form').serialize(); },
            ajaxErrorFn: null,
            ajaxBeforeSendFn: null,
            click: function(item) { },
            dblClick: function(item) { $('#btn-edit').trigger('click'); },
            multi: false,
            pager: true,
            auto: true
        });
    </script>
}

