
@{
    ViewData["Title"] = "UserHome";
}

@section head {
    <style>
        .box {
            width: 980px;
            margin: 20px auto;
            background-color: #fff;
            border: 1px solid #eee;
            border-radius: 1px;
            text-align: center;
            padding: 40px 0;
            font-size: 18px;
            letter-spacing: 0.15em;
        }
    </style>
}

<div class="box">欢迎使用中德生物资产管理系统</div>